/* src/components/visualization.css */
.scrollable-content {
    max-height: 80vh; /* Adjust this value based on your needs */
    overflow-y: auto; /* Enables vertical scrolling */
    border: 1px solid #ddd; /* Optional: Add a border to visually separate the scrollable area */
    padding: 10px;
}
.visualization-container {
    padding: 20px;
    text-align: center;
}

.chart-container {
    margin: 80px 0;
}

img {
    max-width: 100%; /* Ensures images don't overflow the container */
    height: auto;
    max-height: 300px; /* Adjust this value based on your needs */
    object-fit: contain; /* Ensures the image scales proportionally */
}
